<div style="text-align:center"><h1>Signup</h1>
<h4>Name:</h4>{{input type="text" placeholder="Enter your name."}}
<h4>Mobile No:</h4>{{input type="text" placeholder="Enter your mobile no"}}
<h4>Email:</h4>{{input type="email" placeholder="Enter a valid email id."}}
<h4>Password:</h4>
{{input type="password" placeholder="Enter the password you want."}}
<br><br>
<button class="btn-lg" {{action 'signup'}}>Submit</button>
</div>
{{outlet}}
